@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #FE5F55;
    --second-color: #E63462;
    --bg-color: #C7EFCF;
    --text-color: #EEF5DB;
    --black: #333745;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: .2s;
    scroll-behavior: smooth;
}
#header{
    background: radial-gradient(var(--text-color), var(--main-color));
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 80px;
}
.logo a{
    font-size: 24px;
    padding: 4px 12px;
    background-color: var(--black);
    font-weight: 700;
    color: var(--text-color);
}
.menu ul li{
    display: inline-block;
    padding: 12px 20px;
}
.menu ul li a{
    color: var(--black);
    font-weight: 500;
}
.menu ul li a:hover{
    color: var(--text-color);
}
.account{
    background-color: var(--text-color);
    padding: 10px 22px;
    border-radius: 50px;
}
.account:hover{
    background-color: rgba(199, 239, 207, 0.99);
    color: var(--black) !important;
}
.menu ul .nav-img{
    width: 30px;
}

/* HERO-BANNER */
.hero-banner{
    height: 90vh;
    color:#EEF5DB; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
}
.left-hero{
    padding-left: 70px;
    color: var(--text-color);
    margin-top: -80px;
}
.left-hero h1:nth-child(1){
    font-weight: 500;
    font-size: 16px;
}
.left-hero h1:nth-child(2){
    font-weight: 700;
    font-size: 50px;
}
.left-hero .sp1{
    color: var(--black);
}
.left-hero p{
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    margin: 10px 0 30px 0;
}
.right-hero img{
    width: 700px;
}
.btn{
    border: 2px solid #EEF5DB;
    padding: 12px 26px;
    color: var(--text-color);
    font-weight: 500;
    border-radius: 50px;
}
.btn-check:hover{
    background-color: var(--text-color);
    color:var(--main-color)
}

/* CATEGORIES */ 
.categories{
    margin: 70px 0;
}
.box{
    display: flex;
    justify-content: center;
    padding: 0px 25px;
}
.pict-categories{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.pict-categories img{
    width: 100%;
    border-radius: 10px;
}

/* PRODUCTS */
.heading{
    text-align: center;
    position: relative;
    margin: 0 auto 50px;
    color: var(--black);
    line-height: 50px;
}
.heading::after{
    content: "";
    background-color: var(--main-color);
    width: 80px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.box-products{
    display: flex;
    padding: 0px 40px
}
.pict-products{
    flex-basis: 25%;
    padding: 0px 15px 20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .4s;
}
.pict-products:hover{
    transform: translateY(-7px);
}
.pict-products img{
    width: 100%;
    border-radius: 10px;
}
.pict-products h4{
    color: var(--black);
}
.pict-products p{
    font-size: 14px;
    font-weight: 500;
}
.rating i{
    color: var(--main-color)
}

/* OFFER */
.offer{
    margin: 50px 0px 100px;
    padding: 60px 170px;
    background:radial-gradient(var(--text-color), var(--main-color));
    
}
.box-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pict-offer img{
    width: 500px;
    transition: .2s;
}
.pict-offer img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.pict-details h1{
    font-size: 50px;
    margin: 10px 0;
    font-weight: 700;
}
.pict-details p{
    font-size: 14px;
    font-weight: 700;
}
.brand-desc{
    margin-bottom: 30px;
    font-weight:400 !important;
}
.btn-offer{
    background-color: #FE5F55;
    border: none;
}
.btn-offer:hover{
    background-color: rgba(254, 95, 85, 0.7);
}

/*TESTIMONIAL*/
.box-testimonial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 40px 100px;
}
.pict-testimonial{
    padding: 40px 50px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
    margin: 0 15px;
}
.pict-testimonial:hover{
    transform: translateY(-10px);
}
.pict-testimonial p{
    font-size: 12px;
    margin: 12px 0;
    color: var(--black);
}
.pict-testimonial img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.fa-quote-left{
    font-size: 30px;
    color: var(--main-color);
}

/* BRANDS */
.box-brands{
    display: flex;
    padding: 0px 200px 20px;
    justify-content: center;
    align-items: center;
}
.pict-brands{
    width: 160px;
    margin: 0 15px;
}
.pict-brands img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.pict-brands img:hover{
    filter: none;
}

/*** FOOTER ***/
.footer{
    background: #333745;
    color: var(--text-color);
    font-size: 14px;
    margin-top: 50px;
}
.box-footer{
    display: flex;
    padding: 60px 70px 50px;
    justify-content: space-between;
}
.box-footer p{
    color: var(--text-color);
}
.box-footer h3{
    color: #fff;
    margin-bottom: 15x;
}
.logo-footer{
    margin-bottom: 15px;
}
.logo-footer a{
    font-size: 24px;
    padding: 4px 12px;
    background-color: var(--text-color);
    font-weight: 700;
    color: var(--black);
}