@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #FE5F55;
    --second-color: #E63462;
    --bg-color: #C7EFCF;
    --text-color: #EEF5DB;
    --black: #333745;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: .2s;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 80px;
}
.logo a{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
}
.logo span{
    color: var(--black);
}
.menu ul li{
    display: inline-block;
    padding: 12px 20px;
}
.menu ul li a{
    color: var(--black);
    font-weight: 500;
}
.menu ul li a:hover{
    color: var(--main-color);
}
.account{
    background-color: var(--main-color);
    padding: 10px 22px;
    color: #EEF5DB !important;
    border-radius: 50px;
}
.account:hover{
    background-color: rgba(254, 95, 85, 0.7);
}

/* HERO-BANNER */
.hero-banner{
    height: 90vh;
    background-color: var(--main-color);
    color:#EEF5DB; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
}
.left-hero{
    padding-left: 70px;
    color: var(--text-color);
    margin-top: -80px;
}
.left-hero h1:nth-child(1){
    font-weight: 500;
    font-size: 16px;
}
.left-hero h1:nth-child(2){
    font-weight: 700;
    font-size: 50px;
}
.left-hero .sp1{
    color: var(--black);
}
.left-hero .sp2{
    color: var(--black);
}
.left-hero p{
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    margin: 10px 0 30px 0;
}
.right-hero img{
    width: 700px;
}
.btn{
    border: 2px solid #EEF5DB;
    padding: 12px 26px;
    color: var(--text-color);
    font-weight: 500;
    border-radius: 50px;
}
.btn-check:hover{
    background-color: var(--text-color);
    color:var(--main-color)
}